.about__card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 70px 80px;
    border-radius: 30px;
    gap: 20px;

    & .foto{
        width: 300px;
        height: 300px;
    }

}

.about__text{
    justify-self: center;
    align-self: center;
    color: rgb(0, 0, 0);

    & hr{
        border: none;
        height: 5px;
        background-color: #ff8800;
    }

    & h2{
        font-size: 2rem;
        font-weight: 530;
        text-transform: capitalize;
        text-align: center;
    }

    & p{
        width: 80vw;
        font-size: 1.3rem;
        text-align: center;
        margin: 0 0 0 0;
    }
}


@media (min-width:768px){
    .about__card{

        & .foto{
            width: 450px;
            height: 450px;
        }
    }
}


@media (min-width:1024px){
    .about__card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    
        & .foto{
            width: 600px;
            height: 600px;
        }
    
    }
    
    .about__text{
        align-self: baseline;
    
        & h2{
            text-align: left;
            align-self: baseline;
        }
    
        & p{
            text-align: left;
            align-self: baseline;
            width: 35vw;
        }
    }
}
