.principal{
    @include blue__gradient(87deg);
    color: $color-white;
    width: 100vw;
    height: 100vh;
    @include flex__center();

}

.texto-central{
    // padding: 210px 150px;
    display: flex;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;

    & h1{
        font-size: 5rem;
        font-weight: 600;
        font-style: oblique;
        margin: 10px auto;
        text-align: center;
    }

    & p{
        margin: 10px;
        font-size: 1.2rem;
    }
}

.texto-introductorio{
    position: relative;
}

.always{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    gap: 20px;

    & h2{
        font-size: 3.2rem;
        color: $color-1;
        font-weight: 600;
        
    }

    & p{
        font-size: 1.125rem;
        width: 60vw;
        font-weight: 450;
        font-style: normal;
    }
}

.fotos{
    @include flex__center();
    flex-wrap: wrap;
    gap: 40px;
}

.foto{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    background-color: $color-1;
}

.circle{
    background-color: $color-1;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    top: 100px;
    left: -100px;
    filter: blur(6px);
}

.creaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2{
        color: $color-1;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 700;
        font-style: normal;
        margin: 40px auto;
    }
}

.pantalla-contacto{
    @include orange__gradient(128deg);
    padding: 100px 50px;
    text-align: center;
    height: 100vh;
    @include flex__center();

    & h3{
        font-size: 2.25rem;
        text-align: center;
        font-weight: 600;
        margin: 20px;
        color:$color-white;
    }
}


