.portfolio{
    display: flex;
    flex-direction: column;
}

@media (min-width:500px){
    .card{
        & .foto{
            width: 300px;
            height: 300px;
        }
    }
}

@media (min-width:768px){

    .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .card{

        & .foto{
            width: 320px;
            height: 320px;
        }
    }
}

@media (min-width:1024px){

    .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    
}