.portfolio{
    display: flex;
    flex-direction: column;
}

@media (min-width:768px){

    .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:1024px){

    .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}