.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include blue__gradient(128deg);
    padding: 20px;
    margin: 40px 30px;
    border-radius: 30px;
    gap: 20px;
    -webkit-box-shadow: 3px 13px 47px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 13px 47px -22px rgba(0,0,0,0.75);
    box-shadow: 3px 13px 47px -22px rgba(0,0,0,0.75);
    height: 670px;

    & .foto{
        width:250px;
        height: 250px;
    }

    &__text{
        color: $color-white;

        & hr{
            border: none;
            height: 5px;
            color: $color-white;
            background-color: $color-white;
        }

        & h3{
            font-size: 2rem;
            font-weight: 550;
            text-align: center;
        }

        & p{
            
            font-size: 1rem;
            text-align: center;
            align-self: center;
        }

        
    }
}

